

.box-widget {
  border: none;
  position: relative;
}
.widget-user .widget-user-header {  
  height: 120px;
  width: 1168px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.widget-user .widget-user-username {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  padding-top: 5px;
}
.widget-user .widget-user-desc {
  margin-top: 0;
  margin-left: 10px;
}
.widget-user .widget-user-image {
  position: absolute;
  top: 60px;
  left: 10%;
  margin-left: -45px;
}
.widget-user .widget-user-image > img {
  width: 130px;
  height: 120px;
  border: 1px solid #fff;
}
.widget-user .box-footer {
  padding-top: 30px;
}

.ancho{
    width: 100%;
}

.img-avatar2{
  min-height: 100px;
  max-height: 100px;
}

.fondo{
  background-color: #F9F9F9;    
  border: 1px solid #DDD6D6;
  padding: 0;
}

.alto{
  height: 100%;
}

.widthh{
    width: 100%;
}

#cambiapass{
    width: 35%;
}



